* {
    margin: 0;
    padding: 0;
    /* box-sizing: border-box; */
    font-family: Arial, Helvetica, sans-serif;
}

body {
    height: 100vh;
    width: 100vw;
    background-color: black;
}
main {
    position: relative;
    height: 100vh;
    /* position: relative; */
    background-color: lightgreen;
    background: url("../imagens/fundo-madeira-2.jpg") no-repeat top center;
    background-size: cover;
    background-attachment: fixed;
}
#telefone {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    /* Estas 4 linhas fazem o container centralizar*/
    height: 627px;
    width: 311px;
    background: url("../imagens/frame-iphon2.png") no-repeat;
}
#tela {
    position: relative;
    top: 80px;
    left: 22px;
    width: 267px;
    height: 471px;
    border: none;
}
#redes-sociais {
    text-align: right;
}
#redes-sociais img {
    width: 50px;
    margin: 10px;
    border-radius: 50%;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.567);
    box-sizing: border-box;
}
#redes-sociais img:hover {
    border: 2px solid white;
}
